{% extends 'layauthome.html' %}
{% block title %} Proyectos {% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/proyectos.css')}}">
{% endblock %}
{% block content %}

<div class="container mt-4">
    <h1>Proyectos</h1>

    <table class="table">
        <thead>
            <tr><td><h4>Cliente</h4></td>
                <td><h4>Proyecto</h4></td>
                </tr>

        </thead>
        
        <tbody>
             
            {% for client_id, cliente in clientes.items() %}
            {% for proyecto in cliente['proyectos'] %}
            <!-- Primera fila con información del cliente y proyecto -->
            <tr>

                
                <td>{{ cliente['name_cli'] }}</td>
                <td><a href="{{ url_for('formulario_modificar_proyecto', id_project=proyecto['project_id']) }}">
                    {{ proyecto['name_project'] }}
                </a>
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

