{% extends 'layauthome.html' %}
{% block title %} Proyectos {% endblock %}
{% block customCSS %} <link rel="stylesheet" href="{{url_for('static', filename='css/proyectos.css')}}"> {% endblock %}
{% block content %}

<div class="container mt-4">
    <h1>Proyectos</h1>

    <table class="table">
        <thead>

        </thead>
        <tbody>


            
            {% for client_id, cliente in clientes.items() %}
            {% for proyecto in cliente['proyectos'] %}
            <!-- Primera fila con información del cliente y proyecto -->
            <tr>

                <td>{{ cliente['name_cli'] }}</td>
                <td>{{ proyecto['name_project'] }}</td>
                <td>{{ proyecto['name_user'] }}</td>
                <td>{% if proyecto['status_project'] %}

                    Activo
                    {% else %}
                    Inactivo

                    {% endif %}

                </td>



            <tr>

                <!-- Si hay áreas asociadas, las mostramos en filas adicionales -->
                {% if proyecto['eventos'] %}

                {% for evento in proyecto['eventos'] %}



                <td> {{ evento['name_events_pro'] }} </td>




                {% for area in evento['areas'] %}
                <!-- Mostrar la primera área en esta fila -->
                <td>
                    {{ area['name_area'] }}
                    <br>
                    {{ area['status_area'] }}
                    <br>
                    {{ area['assigned_date'] }}
                    <br>
                    {{ area['delivery_date'] }}
                </td>

                <!-- Nuevas filas para las áreas adicionales -->

                {% endfor %}

                {% endfor %}

            <tr>
                {% endif %}
            </tr>

            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}